@import "tailwindcss";
@import "tw-animate-css";


:root {
  --color-232f3e: #232f3e;
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-fdaa3d: #fdaa3d;
  --color-febd69: #febd69;
  --color-f3f5f2: #f3f5f2;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}